body {

}

.title {
	font-family: CAC Champagne;
	font-size: 30px;
}

.container {
	display: flex;
	justify-content: center;
}

.frame {
	margin: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 20px 36px rgba(0, 0, 0, 0.08);
}

.frame * {
	transform: translate(5px, 5px);
}

circle.node {
	stroke: white;
	stroke-width: 2px;
	fill: orange;
	r: 4;
}

.frame:hover circle.node {
	r: 8;
}

circle.node:hover {
	fill: red;
}

line.line {
	stroke: tomato;
	stroke-width: 3px;
}

line.weight {
	stroke: gray;
	stroke-width: 3px;
}