@font-face {
	font-family: CAC Champagne;
	src: url('./cac_champagne.ttf');
}

body {
	padding-top: 44px;
}

.title {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px;

	background: linear-gradient(45deg, lightseagreen, dodgerblue);
	color: white;

	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

	font-family: CAC Champagne;
	font-size: 30px;

	z-index: 1000;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.container.center-content {
	justify-content: center;
}

.container.align-content-right {
	justify-content: flex-end;
}

.container.space-around {
	justify-content: space-around;
}

.container > * {
	flex: 1 1 auto;
	margin: 12px;
}

.container > .short {
	flex: 0 0 auto;
}

.card {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 15px 36px rgba(0, 0, 0, 0.1);
}

.card.center-content {
	display: flex;
	justify-content: center;
}

.frame * {
	transform: translate(5px, 5px);
}

circle.node {
	stroke: white;
	stroke-width: 2px;
	fill: orange;
	r: 4;
}

.frame:hover circle.node {
	r: 8;
}

circle.node:hover {
	fill: red;
}

line.path {
	stroke: tomato;
	stroke-width: 3px;
}

line.weight {
	stroke: gray;
	stroke-width: 3px;
}

.margin-bottom {
	margin-bottom: 12px;
}